
<ul>
    <% @restaurants.each do |restaurant|%>

        <li><%=link_to restaurant.name, restaurant_path(restaurant) %> </li>
        <%= link_to restaurant_path(restaurant), method: :delete, data: { confirm: "Delete #{restaurant.name}?" } do %>
        <i class="fa fa-trash-o" aria-hidden="true"></i>
           <% end %>
    <%end%>

</ul>

    
 
<div class="btn btn-light"><%=link_to "Add a new restaurant", new_restaurant_path %>
</div>
